body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 25, 25);
}
.board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.piece {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    transform: rotateY(0deg); /* Comienza sin rotación */
    transition: transform 2s ease; /* Solo rotación */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
   
  }
  
  .piece-show {
    transform: rotateY(180deg); /* Voltear la pieza */
  
  }
  

  